doctype html
html
    head
        title CSS
        meta(charset="utf-8")
        link(rel="stylesheet",href="./css/hello-world.css")
        script(src="./js/hello-world.js")
    body
        .test
            | CSS