doctype html
html
    head
        title Hello World
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width" minimum-scale=1.0 maximum-scale=1.0 user-scalable="no")
        link(rel="stylesheet",href="./css/vendor.css")
        link(rel="stylesheet",href="./css/hello-world.css")
    body
        .wrapper
            .header(style="font-size:120%;") F.K.
            .content
                .block.float-left  1
                .block.float-left  2
                .block.float-left  3
                .block.float-left  4
                .block.float-left
                    i.fa.fa-star
    script(src="./js/vendor.js")
    script(src="./js/hello-world.js")
