//调整markdown显示的样式,以及隐藏掉多说的一部分控件
pre,pre code {
    font: 12px Consolas,"Liberation Mono", Menlo, Courier, monospace;
}
pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
//*{
//    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//    color: #333;
//}
hr{
    border-color: #eee;
    border-bottom: none;
}
.markdown-body{
    padding: 45px;
    word-wrap: break-word;
    line-height: 1.5;
    //background-color: #fff;
    //border: 1px solid #ddd;
    //border-bottom-right-radius: 3px;
    //border-bottom-left-radius: 3px;
}
.markdown-body h1 {
    -webkit-margin-before: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    line-height: 1.25;
    padding-bottom: 0.3em;
}
#readme h3.heading{
    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}
.octicon {
    vertical-align: text-bottom;
}

#ds-reset p.ds-powered-by a {display:none;}
#ds-wrapper #ds-reset .ds-dialog-footer {display:none;}