doctype html
html
    head
        title write2soul
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width" minimum-scale=1.0 maximum-scale=1.0 user-scalable="no")
        link(rel="stylesheet",href="./index.css")
        //link(rel="stylesheet",href="./css/hello-world.css")
        style
            | #ds-reset p.ds-powered-by a {display:none;}
            | #ds-wrapper #ds-reset .ds-dialog-footer {display:none;}
    body
        .content
            div hi there. ;)
            div there is nothing for now, but i wanna test a plugin for comment first.
        .ds-thread(data-thread-key="write2soul_001" data-title="index of write2soul" data-url="http://asherwang.github.io/")
        script(src="./common/duoshuo.js")
        script(src="./index.js")
