html
    head
        block title
            title 关于
        meta(charset="UTF-8")
        link(rel="stylesheet",href="../common/markdownModify.css")
    body
        .container
            #readme
                h3.heading
                    svg(aria-hidden="true" class="octicon octicon-book" height="16" version="1.1" viewBox="0 0 16 16" width="16")
                        path(d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z")
                        README.md
                #result.markdown-body
            .ds-thread(data-thread-key="write2soul_001" data-title="index of write2soul" data-url="http://asherwang.github.io/")
        script(src="./common/duoshuo.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js")
        script
            | console.log(2333);