.footer
    .content
        .tempDiv(style="width:300px;margin:0 auto;height:170px;line-height:170px;")
            img(src='/favicon.png',style="float:left;height:80px;width:80px;margin-top:45px;")
            span(style="margin-left:30px;color:#666;") 都到底儿了你还要我怎样
