.header
    .content
        ul
            li.left.icon
                a(href="/")
                    img(src="/favicon.png",alt="本应该是Logo")
            li.left.active
                a(href="/") 首页
            li.left
                a 建设中
            //li.left
                a 练习
            li.right
                a(href="/about.html") 关于