html
    head
        title 龙之谷活动页面模仿
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width" minimum-scale=1.0 maximum-scale=1.0 user-scalable="no")
        link(rel="stylesheet",href="./dn1.css")
    body
        .header
            ul
                li 
                    a(href="#") 此页为模仿
                li 
                    a(href="http://act2.dn.sdo.com/project/20160623awake/",target="_blank") 原页面链接
                li
                    a(href="#") 此页为模仿
                li(style="margin-left:250px;")
                    a(href="#") 此页为模仿
                li
                    a(href="http://act2.dn.sdo.com/project/20160623awake/",target="_blank") 原页面链接
                li
                    a(href="#") 想说点什么?点我
        .content
            .gallery
                .gallery-item.static
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/mqs.jpg")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_mqs.png")
                .gallery-item.static
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/ck.jpg")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_ck.png")
                .gallery-item.normal
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/zs.jpg")
                    .active_img
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/zhanshi.jpg?c2")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_zs.png")
                .gallery-item.normal
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/gjs.jpg")
                    .active_img
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/gongjianshou.jpg?c1")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_gjs.png")
                .gallery-item.normal.first
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/ms.jpg")
                    .active_img(style="display:block;")
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/mushi.jpg?v1")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_ms.png")
                .gallery-item.normal
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/xz.jpg")
                    .active_img
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/xuezhe.jpg?1")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_xz.png")
                .gallery-item.normal
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/fs.jpg")
                    .active_img
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/fashi.jpg?c3")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_fs.png")
            .gallery(style="position:relative;top:-1000px;height:0;overflow:visible;")
                .gallery-item.static.right(style="float:right;")
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/sn.jpg")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_sn.png")
                .gallery-item.static.right(style="float:right;")
                    img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/wn.jpg")
                    .desc
                        img(src="http://static.sdg-china.com/dn/pic/dn_act/20160622jxzy/w_wz.png")
        .footer
            .footer-block1
                a(href="#")
                    img(src="http://pic.static.sdo.com/SDGCOPYRIGHT/black/SDG_logo_b.jpg")
                a(href="#")
                    img(src="http://static.sdg-china.com/copyright/pic/dn/hezuo.png")
            .footer-block2
                .links
                    a(href="#") 盛大游戏官网
                    span 　|　
                    a(href="#") 招聘
                .links-gray
                    div 新出审字[2010]104号    文网进字[2009]011号
                    div 沪网文（2014）0749-179号    ICP：沪B2-20100008	新出网证（沪）字026号
                    div 上海数龙科技有限公司    版权所有
            .footer-block3
                .links
                    a(href="#")
                        img(src="http://pic.static.sdo.com/SDGCOPYRIGHT/black/plc_1_b.jpg")
                    a(href="#")
                        img(src="http://static.sdg-china.com/db/pic/bao/other/shgs2.gif")
                    a(href="#")
                        img(src="http://static.sdg-china.com/copyright/pic/img_cp_jubao_b.png")
                    a(href="#")
                        img(src="http://static.sdg-china.com/copyright/pic/SDG/report.png")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src='./dn1.js')
        