extends ../template/desc_comment.pug
block title
    title 前端页面临摹龙之谷活动页面
block configValues
    - duoshuoConfig={thread_key:"write2soul_imitations_dn1",title:"imitations_dn1",url:"asherwang.github.io/imitations/dn1.html",open:true}
    - blogConfig={markdownSrc:"./dn1.md",name:"仿照龙之谷某活动页面"}
    - currentPage = "study"
    - commonDir = "../common"

