extends ../template/desc_comment.pug
block title
    title 测试一下
block configValues
    - duoshuoConfig={thread_key:"write2soul_001",title:"index of write2soul",url:"http://asherwang.github.io/",open:true}
    - blogConfig={markdownSrc:"./dn1.md",name:"仿照龙之谷某活动页面"}
    - currentPage = "study"
    - commonDir = "../common"

